<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndY</key>
	<real>7200</real>
	<key>Watermelons</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineLeft</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>80</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>120</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineRight</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Diamond</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>320</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>220</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>1100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>2200</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>3300</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>4500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>6000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>7000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>8500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>10000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>11200</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>12000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>14000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>16350</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>17000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>18500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>20000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>22000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>24000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>25000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>26500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>27000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>28000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>29200</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>30500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>31500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>32000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>34000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>35000</integer>
			</dict>
		</array>
	</dict>
	<key>Balloons</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>11000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>15000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>20500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>26000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>29000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>33000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>40000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>45500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>50000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>55000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>63000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>66000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>77000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>80000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>82000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>90000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>95000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>96000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>100000</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
